body {
    background-color: #0b0b12;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Comfortaa', sans-serif;
}
* {
    box-sizing: border-box;
}
.button:hover {
    background-color: #fbfbfb;
    color: #9900ff;
    border: 2px solid #9900ff;
    padding: 10px;
    transition: all 0.5s ease; 
}
.button {
    text-align: center;
    width: 300px;
    height: 50px;
    color: #fbfbfb;
    background-color: #7100bd;
    border: 2px solid #7100bd;
    border-radius: 15px;
    cursor: pointer;
    font-family:'Comfortaa', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.body-text {
    font-size: 16px;
    margin-bottom: 5px;
    font-family:'Comfortaa', sans-serif;
    padding: 5px;
}
.header-text {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family:'Comfortaa', sans-serif;
}
.subheader-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family:'Comfortaa', sans-serif;
}